<h1><%= t("labels_index_page") %></h1>
<% if @labels.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.label.name") %></th>
        <th><%= t("activerecord.attributes.label.total_tasks") %></th>
      </tr>
    </thead>
    <tbody>
      <% @labels.each do |label| %>
        <tr>
          <td><%= label.name %></td>
          <td><%= label.total %></td>
          <td><%= link_to t("edit"), edit_label_path(label), class: "edit-label" %></td>
          <td><%= link_to t("destroy"), label_path(label), method: :delete, data: { confirm: t("are_you_sure") }, class: "destroy-label" %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate Kaminari.paginate_array(@labels).page(params[:page]) %>
<% else %>
  <p>タスクが存在しません。</p>
<% end %>

<%= link_to t("back"), labels_path %>