<h1><%= t("user-show-page") %></h1>

<p><%= t("name") %>: <%= @user.name %></p>
<p><%= t("email") %>: <%= @user.email %></p>

<div style="display: flex; align-items: center;">
  <div class="px-0 col-1"><%= link_to t("edit"), edit_user_path(@user), id: "edit-user", class: "edit-task btn btn-primary col-11" %></div>
  <div class="px-0 col-1"><%= link_to t("destroy"), user_path(@user), method: :delete, data: { confirm: t("are_you_sure") }, id: "destroy-user", class: "destroy-task btn btn-danger col-11" %></div>
</div>